{% extends 'base.html.twig' %}
{% block title  %}
     | {{ schleich.name }}
{% endblock %}
{% block body %}
<div class="container">
    <div class="details-card row">
        <div class="details-image col-4">
            {% if schleich.imageName %}
                <img src="{{ (path_asset_horse_schleich ~ schleich.imageName) | imagine_filter('details') }}" alt="{{ schleich.name }}" width="250"/>
            {% else %}
                <img src="{{ asset('build/images/placeholder_horseschleich.png') }}" alt="{{ schleich.name }}" width="250"/>
            {% endif %}
        </div>
        <div class="col-8 row text-center">
            <h2 class="col-12">{{ schleich.name }}</h2>
            <p class="col-6"><b>Robe : </b>{{ schleich.coat }}</p>
            <p class="col-6"><b>Type : </b>{{ schleich.type }}</p>
            <p class="col-6"><b>Espèce : </b>{{ schleich.species }}</p>
            {% if schleich.biography %}
                <p class="col-12"><b>A propos de {{ schleich.name }} :</b><br> {{ schleich.biography }}</p>
            {% else %}
                <p class="col-12"><b>A propos de {{ schleich.name }} :</b><br> Aucune description disponible.</p>
            {% endif %}
        </div>
    </div>

<br>
<div class="row">
    <div class="col-10"></div>
    <div class="col-2">
    {% if app.user == schleich.user %}
        <a href="{{ path('edit_horseschleich', {id: schleich.id}) }}" class="btn-primary-custom">Modifier {{ schleich.name }}</a>
    {% endif %}
    </div>
</div>
</div>
{% endblock %}

