{% extends 'base.html.twig' %}
{% block title  %}
     | {{ schleich.name }}
{% endblock %}
{% block body %}
    {% if app.user == schleich.user %}
        <a href="{{ path('edit_horseschleich', {id: schleich.id}) }}" class="btn-primary-custom">Modifier {{ schleich.name }}</a>
    {% endif %}
    <div class="card-flyer">
        <div class="text-box">
            <div class="image-box">
                {% if schleich.imageName %}
                <img src="{{ (path_asset_horse_schleich ~ schleich.imageName) | imagine_filter('details') }}" alt="{{ schleich.name }}" width="250"/>
                {% else %}
                    <img src="{{ asset('build/images/placeholder_horseschleich.png') }}" alt="{{ schleich.name }}" width="250"/>
                {% endif %}
            </div>
            <div class="text-container">
                <h6>{{ schleich.name }}</h6>
                <p>{{ schleich.biography }}</p>
            </div>
        </div>
    </div>
{% endblock %}

