{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {{ form_start(horseSchleichForm) }}
        {{ form_widget(horseSchleichForm) }}
        <button type="submit" class="btn-primary-custom" onclick="this.disabled=true;this.value='Enregistrement...';this.form.submit()">Valider</button>
        <a href="{{ path('horse_schleich_details', {slug: horseSchleich.slug}) }}" class="btn btn-primary">Retour</a>
        {{ form_end(horseSchleichForm) }}
            {% if horseSchleich.imageName %}
                <form action="{{  path('delete_horse_schleich_image', {id: horseSchleich.id}) }}" method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('delete-image' ~ horseSchleich.id) }}">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette image ?')">Supprimer l'image</button>
                </form>
            {% endif %}
                <form action="{{ path('delete_horse_schleich', {id: horseSchleich.id}) }}" method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('delete-horse-schleich' ~ horseSchleich.id) }}">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ horseSchleich.name }} ? Ceci sera définitif !')">Supprimer {{ horseSchleich.name }}</button>
                </form>



    </div>
{% endblock %}

{% block title %}
 | Modifier {{ horseSchleich.name }}
{% endblock %}

