{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {{ form_start(horseSchleichForm) }}
        {{ form_widget(horseSchleichForm) }}
            {% if horseSchleich.imageName %}
                <a href="{{ path('delete_horse_schleich_image', {id: horseSchleich.id}) }}" class="btn btn-primary">Supprimer l'image</a>
            {% endif %}
                <button type="submit" name="valid" class="btn btn-primary" onclick="this.disabled=true;this.value='Enregistrement...';this.form.submit()">Valider</button>
                <a href="{{ path('delete_horse_schleich', {id: horseSchleich.id})}}" class="btn btn-danger">Supprimer {{ horseSchleich.name }}</a>
        {{ form_end(horseSchleichForm) }}

    </div>
{% endblock %}

{% block title %}
 | Modifier {{ horseSchleich.name }}
{% endblock %}

