{% extends 'base.html.twig' %}
{% block title  %}
     | {{ petshop.name }}
{% endblock %}
{% block body %}
    {% if app.user == petshop.user %}
        <a href="{{ path('edit_petshop', {id: petshop.id}) }}" class="btn-primary-custom">Modifier {{ petshop.name }}</a>
    {% endif %}
    <div class="card-flyer">
        <div class="text-box">
            <div class="image-box">
                {% if petshop.imageName %}
                    <img src="{{ (path_asset_petshop ~ petshop.imageName) | imagine_filter('details') }}" alt="{{ petshop.name }}" width="250"/>
                {% else %}
                    <img src="{{ asset('build/images/placeholder_petshop.png') }}" alt="{{ petshop.name }}" width="250"/>
                {% endif %}
            </div>
            <div class="text-container">
                <h6>{{ petshop.name }}</h6>
                <p>{{ petshop.biography }}</p>
            </div>
        </div>
    </div>
{% endblock %}

