{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {{ form_start(petshopForm) }}
        {{ form_widget(petshopForm) }}
            {% if petshop.imageName %}
                <a href="{{ path('delete_petshop_image', {id: petshop.id}) }}" class="btn btn-primary">Supprimer l'image</a>
            {% endif %}
                <button type="submit" name="valid" class="btn btn-primary" onclick="this.disabled=true;this.value='Enregistrement...';this.form.submit()">Valider</button>
                <a href="{{ path('delete_petshop', {id: petshop.id}) }}" class="btn btn-danger">Supprimer {{ petshop.name }}</a>
        {{ form_end(petshopForm) }}

    </div>
{% endblock %}

{% block title %}
 | Modifier {{ petshop.name }}
{% endblock %}

