<footer>
    <div class="bg-custom mt-5 pt-30 pt-60 pb-5">
        <div class="row text-center">
            <h3>Plan du site</h3>
            <ul>
                <li><a title="Accueil" href="{{ path('accueil') }}">Accueil</a></li>
                {% if not app.user %}
                    <li><a title="Se connecter" href="{{ path('app_login') }}">Se connecter</a></li>
                    <li><a title="Créer un compte" href="{{ path('app_register') }}">S'inscrire</a></li>
                {% else %}
                    <li><a title="Voir mon profil" href="{{path('profile', {name: app.user.name})}}">Mon profil</a></li>
                {% endif %}
                <li><a href="{{ path('contact') }}" title="Contact">Contact</a></li>
                <li><a href="{{ path('app_cgu') }}" title="Contact">CGU</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12 p-5">
                <div class="row">
                    <div class="col-md-1"></div>

                    <div class="col-md-10">
                        <h3>A propos du site</h3>
                        <p class="pt-3" style="text-align: justify">Le site <strong>mes-collections.herokuapp.com</strong> est un simple site de démonstration, mais fonctionnel. Celui-ci permet à tout un chacun de s'inscrire, se connecter et capitaliser ses différentes collections.
                            Pour le moment, les collections éligibles sont les Littlest Petshops et les Schleich, car ce sont les collections les plus fournies appartenant à ma fille (qui a beaucoup aidé à la création du site 😉 ).
                            Selon les demandes des utilisateurs, il n'est pas exclu que <strong>mes-collections.herokuapp.com</strong> évolue vers quelque chose de plus important, même si ce ne sera sans doute pas la première de mes priorités ! Nous attendons vos remarques avec impatience via le formulaire de <a href="{{ path('contact')}}" title="Me contacter">contact</a> de ce site ! Bonne visite !
                        </p>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-bottom">
        <div class="col-md-12">
            <p class="text-center pt-2 mb-2">&copy;{{ 'now'|date('Y') }}  DHUICQUE Fabrice</p>
        </div>
    </div>
</footer>
