<header class="p-6 mb-6 header-custom">
    <div class="container">
        <div class="d-flex flex-fill align-items-center justify-content-end justify-content-lg-start">

            <a class="navbar-brand-custom" href="/">Mes Collect
                <span style="margin: -10px;color: #44f82c">i</span>
                <span style="margin: -5px;color: #4be7f7">o</span>
                <span style="margin: -6px;color: #634af8">n</span>
                <span style="margin: -7px;color: #fb47e6">s</span>
            </a>
            <div class="col-1"></div>

            {% if app.user %}
            <div class="col-2">
                <a href="{{ path('create_new') }}" class="d-block text-center" aria-expanded="false" title="Nouveau">
                    <i class="fa-solid fa-folder-plus" style="font-size: 3rem" title="Nouveau"></i>
                </a>
            </div>
            {% endif %}
            <div class="col-2">
                {% if app.user %}
                <a href="/" class="text-center d-block nav-link" >{{ app.user.name }}</a>
                {% endif %}
                <a href="#" class="text-center d-block dropdown-toggle link-secondary text-decoration-none" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user-circle" style="font-size: 3rem"></i>
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownMenu">
                    {% if app.user %}
                        <li><a class="dropdown-item" href="{{  path('profile', {'name' : app.user.name}) }}">Mon profil</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_register')}}">S'inscrire</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-2">
                <a href="{{ path('contact') }}" title="Contact" class="d-block text-decoration-none text-center" aria-expanded="false">Contact</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}" title="Admin" class="d-block text-decoration-none text-center" aria-expanded="false">Admin</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>